.links {
    margin-left: 200px;
    font-weight: bold;
    font-size: 14px;
    scroll-padding-inline: 20px;
    scroll-padding-block-end: 100;
    font-style: #ffffff;
    display: "flex";
    color: #fff;
    border-radius: 20px;

}

.slider {
    position: center;
    padding-left: 205px;
    border-radius: 100px;
    border-style: calc(20);
    border-width: 30px;
    border-radius: 20px;
}

.css-1ps4owl-MuiTypography-root-MuiLink-root {
    margin: 0;
    color: #ffffff;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    text-decoration-color: rgba(25, 118, 210, 0.4);
    scroll-padding-block-start: 20PX;
    padding: 5px;
    margin-left: 150px;
    border-radius: 20px;
}

.LastNews {
    background-color: #BB3B62;
    height: 500;
    position: relative;
    padding: 50px;
    margin: 10 auto;
    border-radius: 20px;

}

.LastNews:hover {

    background-color: #c86180;
}

.team {
    padding: 50px;

}

.div1 {
    background-color: #BB3B62;
    height: 40;
    position: absolute;
    padding: 5px;
    margin-left: 600px;
    width: 250px;
    border-radius: 20px;
}

.img1 {
    border-radius: 20px;
    background-image: url("../Assets/h.jpg");
    height: 350px;
    padding: 20px;
    margin: 30px;


}


.img2 {
    border-radius: 50;
    background-image: url("../Assets/h.jpg");
    height: 250px;
    width: 350px;
    padding: -2px;
    margin: 15px;

}




.img3 {
    border-radius: 200px;
    background-image: url("../Assets/h.jpg");
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10 0;
    border-width: 5px;
    border-style: solid;
    border-color: #BB3B62;
    padding-right: 70px;


}

.info {
    text-align: center;
    padding-right: 70px;



}

.details {
    width: 260px;
    margin: 0 auto 92px
}

.name {
    margin: 23px 0 31px;
}


.img2:hover {
    background-color: #c86180;
}

.footer {
    background-color: #BB3B62;
    height: 310px;

    padding-top: 50px;
    margin-top: 30px;
}



.Typography {
    margin: 15px 0;
}

.divbutton {
    background: rgba(229, 229, 229, 0.58);
    border-radius: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 236px;
    height: 259px;

}

.img8 {
    width: 197px;
    height: 155px;
}

.img7 {
    background-image: url("../Assets/h.jpg");
    height: 400px;
    border-radius: 25px;
}

.divlastevent {
    margin: 30px auto;
    width: 1152px;
    height: 400px;
    background: rgba(229, 229, 229, 0.58);
    border-radius: 31px;
}

.icon1 {
    font-size: 45px;
    color: #BB3B62;
    margin: 15px
}


.divprofile {
    margin-top: 50px;
    margin-left: 270px;
    width: 1000px;
    height: 1250px;
    border-radius: 25px;
    background-color: #e3d5d5;
    border-radius: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px;
    box-shadow: #BB3B62;
    shape-rendering: crispEdges;
}

.team_details {
    padding-left: 70px;
}

.copy {
    margin-left: 400px;
}

.img88 {
    background-image: url("../Assets/h.jpg");

    height: 400px;
    width: 900px;
    margin-bottom: 50px;
    border-radius: 25px;

}

.addeventbutton {
    display: flex;
    justify-content: center
}

.addevent {
    margin-left: 12%;
    width: 130px;
    height: 50px;
    border-radius: 25px;
    background-color: #bb3b62;

}

.AddEvent {
    color: black;
}

.divinput {
    margin-top: 100px;
}

.inputt {
    width: 900px;
    height: 50px;
    margin-left: 20%;
    display: flex;
    color: #bb3b62;
    background-color: #f1efef;
    font-size: larger;
    margin-bottom: 30px;
}

.inputt:hover {
    color: #bb3b62;
    background-color: #f1efef;

}

.labelevent {
    font-size: larger;
    color: #BB3B62;
    margin-left: 20%;
    font-weight: bold;

}

.inputt2 {
    width: 900px;
    height: 50px;
    margin-left: 20%;
    display: flex;
    color: #bb3b62;
    background-color: #f1efef;
    font-size: larger;
    margin-bottom: 30px;
    padding-top: 7px;
}

.addevent2 {
    margin-left: 45%;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #bb3b62;
    margin-top: 30px;
}

.addevent3 {
    margin-left: 45%;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #bb3b62;
   
}

.Ticket {

    margin-top: 50px;
    margin-left: 20%;
    width: 900px;
    height: 400px;
    border: 3px;
    border-color: #BB3B62;
    border-radius: 25px;
    border-style: solid;

}

.img5 {
    background-image: url("../Assets/h.jpg");
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
    border-radius: 25px;



}


.BOOKNOW {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #bb3b62;
    margin-top: 30px;
    margin-bottom: 20px;
}

.tname {
    padding-left: 60px;
}

.ticketty {
    color: #bb3b62;
    display: inline;
}